$icon-inline-margin: 5px !default;


// inline 风格
.#{$component-prefix}inline-icon {
	@include make-icon-inline;
}

// inline 间距
span +.#{$component-prefix}inline-icon,
.#{$component-prefix}inline-icon + span
{
	margin-left: $icon-inline-margin;
}

// 垂直三角
.#{$component-prefix}icon-caret {
	text-align: left;
	&:after {
		@include make-icon-caret($compoment-gray-color);
		@include transition(all .3s);
	}
}

// 对号
.#{$component-prefix}icon-right {
	text-align: left;
	&:after {
		@include make-icon-right($compoment-primary-color);
	}
}

// 垂直三角
.#{$component-prefix}icon-arrow {
	text-align: left;
	&:after {
		@include make-icon-arrow($compoment-primary-color);
		@include transition(all .3s);
	}
}

.open,
.icon-meta-open:not([disabled]):hover {
	> .#{$component-prefix}icon-caret:after {
		@include transform(rotate(180deg) translateY(50%));
	}
	> .#{$component-prefix}icon-arrow:after {
		@include transform(rotate(225deg) translateX(-50%) translateY(-50%));
	}
}
