/* base-分组 */

$group-round-radius : 2px;
$group-circle-radius : 500px;

.group-col,
.group-row {
	@include make-group-default;
}

.group-item {
	@include make-group-item;
}


a.group-item,
.group-item > a {
	text-decoration: none;
	color: inherit;
}

.group-col {
	.group-item {
		display: block;
		> a {
			display: block;
		}
	}
	&.group-circle > {
		@include make-group-radius($group-circle-radius, true);
	}
	&.group-round > {
		@include make-group-radius($group-round-radius, true);
	}
	&.group-zindex { // 有边框的情况下 需要使用zindex
		.group-item {
			@include make-group-item-zindex(true);
		}
	}
}

.group-row {
	vertical-align: middle;
	@include clearfix;
	.group-item {
		float: left;
	}
	&.group-circle > {
		@include make-group-radius($group-circle-radius, false);
	}
	&.group-round > {
		@include make-group-radius($group-round-radius, false);
	}
	&.group-zindex { // 有边框的情况下 需要使用zindex
		.group-item {
			@include make-group-item-zindex(false);
		}
	}
}

