/* base-分组 */

$group-round-radius : 2px;
$group-circle-radius : 500px;
$group-float-padding: 2em !default;
$group-title-padding: .5em !default;
$group-title-color: lighten($component-default-color, 20) !default;

.group-col,
.group-row {
	@include make-group-default;
}

.group-item {
	@include make-group-item;
}

a.group-item,
.group-item > a {
	text-decoration: none;
	color: inherit;
}

.group-col {
	> .group-item {
		display: block;
		> a {
			display: block;
			>.float-right {
				margin-left: $group-float-padding;
			}
		}
	}
	> .group-title { // 标题
		cursor: default;
		display: block;
		color: $group-title-color;
		padding-left: $group-title-padding;
		padding-right: $group-title-padding;
	}
	> .group-divider { // 分割线
		background-color: $component-default-bd-color;
		height: 1px;
		margin: 0.5em 0;
		display: block;
	}
	&.group-circle > {
		@include make-group-radius($group-circle-radius, true);
	}
	&.group-round > {
		@include make-group-radius($group-round-radius, true);
	}
	&.group-zindex { // 有边框的情况下 需要使用zindex
		> .group-item {
			@include make-group-item-zindex(true);
		}
	}
}

.group-row {
	vertical-align: middle;
	@include clearfix;
	> .group-item {
		float: left;
	}
	&.group-circle > {
		@include make-group-radius($group-circle-radius, false);
	}
	&.group-round > {
		@include make-group-radius($group-round-radius, false);
	}
	&.group-zindex { // 有边框的情况下 需要使用zindex
		> .group-item {
			@include make-group-item-zindex(false);
		}
	}
}

