
@mixin make-group-default() {
	// reset ul style & margin & padding
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block; 
}

@mixin make-group-radius($radius, $vertical) {
	@if $vertical {
		:first-child {
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
		}
		:last-child {
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}
	@else {	
		:first-child {
			border-top-left-radius: $radius;
			border-bottom-left-radius: $radius;
		}
		:last-child {
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}
}
