// 基础辅助功能 主要用于覆盖和全局控制，一般具有高权重

//------------------------------------------------------- 浮动

.clearfix {
	@include clearfix;
}
.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

//------------------------------------------------------- 文本

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-selectable {
	@include make-text-select;
}

.text-noselectable {
	@include make-text-select(false);
}

//------------------------------------------------------- 边框

.border-hidden {
	border-color : transparent !important;
}

.border-none {
	border-width : 0 !important;
}

.border-hidden-vertical {
	border-top-color : transparent !important;
	border-bottom-color : transparent !important;
}

.border-none-vertical {
	border-top-width : 0 !important;
	border-bottom-width : 0 !important;
}

//------------------------------------------------------- 字体

.font-default {
    @include make-font-size-default;
}

.font-sm {
    @include make-font-size-sm;
}

.font-lg {
    @include make-font-size-lg;
}

//------------------------------------------------------- 内补白

.pad-default {
	@include make-pad-default;
}

.pad-lg {
	@include make-pad-lg;
}

.pad-sm {
	@include make-pad-sm;
}


//------------------------------------------------------- flex 对齐方式

.flex-start { // x轴原点 左对齐
	justify-content: flex-start;
}

.flex-center { // x轴居中 居中对齐
	justify-content: center;
}

.flex-end { // x轴结束点 右对齐
	justify-content: flex-end;
}

.flex-space-between { // x轴平铺 中间补空
	justify-content: space-between;
}

.flex-space-around { // x轴平铺 元素居中
	justify-content: space-around;
}
