// 列表 nav menu tab 等

$menu-padding: 5px 0 !default;
$menu-item-padding: 1.5em !default;

$nav-group-item-padding: 3em;

.#{$component-prefix}nav-group {
	> .group-item {
		padding-left: $nav-group-item-padding;
		padding-right: $nav-group-item-padding * 2 / 3 ;
		@include make-default-variant;
	}
}

.#{$component-prefix}menu-group {
	padding: $menu-padding;
	@include make-popup-default-border;
	> .group-item {
		padding-left: $menu-item-padding;
		padding-right: $menu-item-padding;
		@include make-default-variant;
	}
}

