// 列表 nav menu tab 等


.#{$component-prefix}nav-group {
	.nav-group-title {
		margin: 0;
    	padding: 10px 10px 2px;
		color: #666;
	}
	.group-item {
		padding-left: 3em;
		padding-right: 2em;
		border-radius: $component-default-radius;
		@include make-default-variant;
	}
}

.#{$component-prefix}menu-group {
	.group-item {
		padding-left: 1em;
		padding-right: 1em;
		border-radius: $component-default-radius;
		@include make-default-variant;
	}
}

