<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../dist/css/csskit.css">
	<script src="../node_modules/vue/dist/vue.js"></script>
</head>
<body>
	
	<div>
		<label><input type="checkbox" v-model="row"></input>行模式</label>
		<label>
			<span>组件</span>
			<select v-model="component">
				<option v-for="com in components" value="{{$key}}">{{com.text}}</option>
			</select>
		</label>
		<label>
			<span>大小</span>
			<select v-model="size">
				<option v-for="it in sizes" value="{{it}}">{{it}}</option>
			</select>
		</label>
		<label>
			<span>边角</span>
			<select v-model="border">
				<option value="">无</option>
				<option value="group-circle">半圆</option>
				<option value="group-round">圆角</option>
			</select>
		</label>
	</div>

	<style type="text/css">
		.group-view {
			margin: 5px;
			padding: 5px;
			border: 1px solid gray;
		}

		.group-view .group-col {
			margin-right: 10px;
		}

		.group-view .group-row {
			margin-bottom: 10px;
			display: block;
		}

	</style>

	<div
		class="group-view"
		:class='{"col-view" : !row , "row-view": !!row}'
		v-for="theme in themes"
		>
		<div
			:class='{
				"group-col" : !row , 
				"group-row": !!row,
				"group-size-ss" : size == "ss",
				"group-size-sd" : size == "sd",
				"group-size-sl" : size == "sl",
				"group-size-ds" : size == "ds",
				"group-size-dd" : size == "dd",
				"group-size-dl" : size == "dl",
				"group-size-ls" : size == "ls",
				"group-size-ld" : size == "ld",
				"group-size-ll" : size == "ll",
				"group-circle" : border == "group-circle",
				"group-round"  : border == "group-round",
			}'
			v-for="style in styles"
			>
			<div
				v-for="i in 5"
				class="group-item {{theme}}-{{style}} {{components[component].class}}"
				:disabled="i == 3"
				>
				{{theme}}-{{style}}
			</div>
		</div>
	</div>


	<script type="text/javascript">
		var app = new Vue({
			data: {
				themes: ['flat', 'outline'],
				styles: ['default', 'primary', 'secondary', 'info', 'danger'],
				sizes : ['ss', 'sd', 'sl', 'ds', 'dd', 'dl', 'ls', 'ld', 'll'],
				size: 'dd',
				row: false,
				border:'',
				component: 'button',
				components: {
					'text' : {
						class:'',
						text : '文本',
					},
					'button' : {
						class:'ak-btn',
						text : '按钮',
					}
				}
			},
			compulted:{
				groupSize: function () {
					return this.size ? 'group-size' + this.size : '';
				}
			}
		});

		app.$mount('body');

	</script>
</body>
</html>