// 全局变量

// 类前缀
$component-prefix: ak- !default;

// 默认 边角
$component-default-radius: 2px !default;


// 默认 文字颜色
$component-default-color: #333333 !default;

// 默认 背景颜色
$component-default-bg-color: white !default;

// 默认 背景活动颜色
$component-default-active-bg-color: #dcdfe1 !default;

// 默认 背景高亮颜色
$component-default-hover-bg-color: lighten($component-default-active-bg-color, 5) !default;

// 默认 边框颜色
$component-default-bd-color: darken($component-default-active-bg-color, 5) !default;


$color-default-variants : (
	text-color  		: $component-default-color ,
	hover-text-color    : $component-default-color ,
	active-text-color   : $component-default-color ,
	disable-text-color  : $component-default-color ,

	bg-color 		 	: $component-default-bg-color ,
	hover-bg-color 		: $component-default-hover-bg-color ,
	active-bg-color 	: $component-default-active-bg-color ,
	disable-bg-color 	: $component-default-bg-color ,

	bd-color            : $component-default-bd-color,
	hover-bd-color      : $component-default-bd-color,
	active-bd-color     : $component-default-bd-color,
	disable-bd-color 	: $component-default-bd-color,
) !default;

// @warn "#{$color-default-variants}";


// 主亮色调
$compoment-primary-color: #03A9F4 !default;

// 辅助暗色调
$compoment-gray-color: #B3A9A9 !default;
