// 全局变量

// 类前缀
$component-prefix: ak- !default;

// 默认 边角
$component-default-radius: 2px !default;


// 默认 文字颜色
$complement-default-color: #333333 !default;

// 默认 背景颜色
$complement-default-bg-color: white !default;

// 默认 背景活动颜色
$complement-default-active-bg-color: #dcdfe1 !default;

// 默认 背景高亮颜色
$complement-default-hover-bg-color: lighten($complement-default-active-bg-color, 5) !default;

// 默认 边框颜色
$complement-default-bd-color: darken($complement-default-active-bg-color, 5) !default;



// 主亮色调
$compoment-primary-color: #03A9F4 !default;

// 辅助暗色调
$compoment-gray-color: #B3A9A9 !default;
