
$table-bd-color: #d0d0d0 !default;
$table-striped-bg-color: #f8f8f8 !default;
$table-hover-bg-color: #f3f3f3 !default;

$table-active-bg-color: #4D95DC !default;
$table-active-color: white !default;

.#{$component-prefix}table {
	cursor: default;

	@include make-table-default;

    > thead {
        border-bottom: 1px solid $table-bd-color;
    }

    // > tbody > tr:active {
    //     background-color: darken($table-striped-bg-color, 40 );
    // }

}

&.table-lined > thead > tr,
&.table-lined > tbody > tr {
    border-bottom: 1px solid $table-bd-color;
}

&.table-striped > tbody {
    > tr:nth-child(odd) {
        background-color: $table-striped-bg-color;
    }
}

&.table-hover > tbody > tr:hover {
    background-color: $table-hover-bg-color;
}

&.table-active {
	 > tbody {
    	> tr:active {
	        background-color: $table-active-bg-color;
	        > td {
	        	color: $table-active-color;
	        }
	    }
	 }
}

&.table-bordered {
    border: 1px solid $table-bd-color;
}