
$table-bg-color: #f8f8f8 !default;
$table-hover-bg-color: darken($table-bg-color, 5) !default;
$table-active-bg-color: darken($table-bg-color, 10) !default;
$table-bd-color: darken($table-bg-color, 15) !default;

.#{$component-prefix}table {
	cursor: default;
	@include make-table-default;
    > thead {
        border-bottom: 1px solid $table-bd-color;
    }
}

&.table-lined > thead > tr,
&.table-lined > tbody > tr {
    border-bottom: 1px solid $table-bd-color;
}

&.table-striped > tbody {
    > tr:nth-child(odd) {
        background-color: $table-bg-color;
    }
}

&.table-hover > tbody > tr:hover {
    background-color: $table-hover-bg-color;
}

&.table-active {
	 > tbody {
        > tr:active,
    	> tr.active,
        {
	        background-color: $table-active-bg-color;
	    }
	 }
}

&.table-bordered {
    border: 1px solid $table-bd-color;
}