
@mixin make-tab-default() {
    display: flex;
    // reset ul
    list-style: none;	
    padding-left: 0; 	
}

@mixin make-tab-item-default() {
	flex: 1;
	position: relative;
	text-align: center;
    @include make-size-default;
}
