
@mixin make-group-default() {
	// reset ul style & margin & padding
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block; 
}

@mixin make-group-item() {
	@include make-size-default;
}

@mixin make-group-item-horizontal() {
	float: left;
	margin-left: -1px ;
	@include when-disabled {
		margin-left: 0;
		border-left-width: 0;
	};
	@include when-not-disabled-hover-focus-active{
		z-index: 2;
	};
}

@mixin make-group-item-vertical() {
	display: block;
	margin-top: -1px ;
	@include when-disabled {
		margin-top: 0;
		border-top-width: 0;
	};
	@include when-not-disabled-hover-focus-active{
		z-index: 2;
	};
}

@mixin make-group-radius($radius, $vertical) {
	@if $vertical {
		:first-child {
			@include border-top-radius($radius);
		}
		:last-child {
			@include border-bottom-radius($radius);
		}
	}
	@else {	
		:first-child {
			@include border-left-radius($radius);
		}
		:last-child {
			@include border-right-radius($radius);
		}
	}
}
