//--------------------------------------------------------- 内补白

$pad-padding-sm: 0.25em !default;
$pad-padding-default: 0.5em !default;
$pad-padding-lg: 0.75em !default;

$pad-padding-important: false !default;

@mixin make-pad-default($padding: $pad-padding-default, $important: $pad-padding-important) {
	@if $important {
    	padding: $padding !important;
	}
	@else {
    	padding: $padding;
	}
}

@mixin make-pad-sm($important: $pad-padding-important) {
    @include make-pad-default($pad-padding-sm, $important);
}

@mixin make-pad-lg($important: $pad-padding-important) {
    @include make-pad-default($pad-padding-lg, $important);
}
