
// 背景颜色
@mixin make-theme-bg-variant($bg-color, $bg-color-hover, $bg-color-active, $linear : '') {
	@if $linear == '' {
		background-color: $bg-color;
	}
	@else {
		border-color: $bg-color;
		@include linear-gradient($bg-color, darken($bg-color, $linear));
	}

	@include when-hover-focus {
		@if $linear == '' {
			background-color: $bg-color-hover;
		}
		@else {
			@include linear-gradient($bg-color-hover, darken($bg-color-hover, $linear));
		}
	}
	
	@include when-active {
		@if $linear == '' {
			background-color: $bg-color-active;
		}
		@else {
			@include linear-gradient($bg-color-active, darken($bg-color-active, $linear));
		}
	}
}

// flat风格 背景变暗
@mixin make-theme-variant-darken($color, $bg-color, $linear : '') {
	// border-color: transparent;
	color: $color;
	@include make-theme-bg-variant(
		$bg-color ,
		darken($bg-color, 5) ,
		darken($bg-color, 10),
		$linear
	);
}

// outline风格 颜色反转
@mixin make-theme-variant-outline($color, $bg-color, $linear : '') {
	border-color: $color;
	color: $color;
	@if $linear == '' {
		background-color: $bg-color;
	}
	@else {
		@include linear-gradient($bg-color, darken($bg-color, $linear));
	}

	@include when-hover-focus {
		// border-color: transparent;
		color: $bg-color;
		@if $linear == '' {
			background-color: darken($color, 5);
		}
		@else {
			@include linear-gradient($color, darken(darken($color, 5), $linear));
		}
	}

	@include when-active {
		// border-color: transparent;
		color: $bg-color;
		@if $linear == '' {
			background-color: darken($color, 10);
		}
		@else {
			@include linear-gradient($color, darken(darken($color, 10), $linear));
		}
	}
}

@mixin make-theme-flat-outline($color, $bg-color, $outline : false, $linear: '') {
	@if $outline == true {
		@include make-theme-variant-outline($bg-color, $color, $linear);
	} @else {
		@include make-theme-variant-darken($color, $bg-color, $linear);
	}
}