//--------------------------------------------------------- 盒子

$size_items : ('s', 'd', 'l');

@mixin make-size($selectors) {
	@if type-of($selectors) == 'list' {
		$selectors : to-string($selectors, ',');
	}
	@each $size_font in $size_items {
	    @each $size_pad in $size_items {
	    	$size_key : #{$size_font}#{$size_pad};
	    	$size_key : str-replace($selectors, '{iter}', $size_key);
	    	#{$size_key} {
	    		@include make-size-item-font-size-pad($size_font, $size_pad);
	    	}
	    }
	}
}

@mixin make-size-item-font-size($type) {
	@if $type == 's' {
		@include make-font-size-sm;
	}
	@else if $type == 'd' {
		@include make-font-size-default;
	}
	@else if $type == 'l' {
		@include make-font-size-lg;
	}
}

@mixin make-size-item-pad($type) {
	@if $type == 's' {
		@include make-pad-sm;
	}
	@else if $type == 'd' {
		@include make-pad-default;
	}
	@else if $type == 'l' {
		@include make-pad-lg;
	}
}

@mixin make-size-item-font-size-pad($font-type, $pad-type) {
	@include make-size-item-font-size($font-type);
	@include make-size-item-pad($pad-type);
}
