
$table-bg-color: #f8f8f8 !default;
$table-hover-bg-color: darken($table-bg-color, 5) !default;
$table-selected-bg-color: darken($table-bg-color, 10) !default;
$table-bd-color: darken($table-bg-color, 15) !default;

$table-on: false !default;

@import "../../mixins/size-control";

@if $table-on {
    // 边框风格表格
    .pure-table {
        @include make-table-reset;
        border: 1px solid $table-bd-color;
        > thead {
            border-bottom: 1px solid $table-bd-color;
            tr {
                border-bottom: 1px solid $table-bd-color;
            }
        }
        > tbody {
            tr {
                border-bottom: 1px solid $table-bd-color;
                &:nth-child(odd) {
                    background-color: $table-bg-color;
                }
                &:hover {
                    background-color: $table-hover-bg-color;
                }
                &.selected {
                    background-color: $table-selected-bg-color;
                }
            }
        }
        th, td {
            @include make-size-default;
        }
    }
}
