// 层
//@VAR layer
$layer-class              	: '.#{$default-prefix}layer' !default;
$layer-modal-class       	: '.#{$default-prefix}layer-modal' !default;
$layer-bd-color   			: rgba(0,0,0, .4) !default;
$layer-base-zindex			: $default-base-zindex !default;

//!VAR layer

@mixin make-base-layer() {
	#{$layer-class} {
		z-index: $layer-base-zindex;
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// 使用 flex布局
	    display: flex;
	    align-items: center;
	    justify-content: center;
		&.backdrop {
			background-color: $layer-bd-color ;
			transition: all .3s ease;
		}
		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
}
