//@VAR btn
$btn-class				: '.#{$default-prefix}btn' !default !global;

$btn-default-bd-color	: $default-bd-color !default;			// 边框颜色
$btn-default-bg-color	: $default-bg-color !default;			// 背景颜色
$btn-disabled-bg-color	: $default-disabled-bg-color !default;  // 禁用色

$btn-bd-radius			: $default-bd-radius !default;			// 边角
$btn-active-cursor		: $default-active-cursor !default;		// 光标

//!VAR btn

@mixin make-base-btn() {
	#{$btn-class} {
		position: relative;				// 需要设成相对的, 方便内嵌或定位
		display: inline-block;			// 块定义
		text-decoration: none;			// 去除A下划线
		outline: none;					// 去除默认焦点
		border: 1px solid transparent;  // 去除 Button的默认边框样式 + 去除 Border宽度
		user-select: none;				// 不可选

		@include make-size-default;
		cursor: $btn-active-cursor;

		background-color: $btn-default-bg-color;
		border-color: $btn-default-bd-color;
		border-radius: $btn-bd-radius;

		&:hover,
		&:focus {
			background-color: darken($btn-default-bg-color, 5);
		}
		
		&:active {
			background-color: darken($btn-default-bg-color, 10);
		}

		&.disabled,
		&:disabled {
			cursor: default;
			background-color: $btn-disabled-bg-color !important;
			color: darken($btn-disabled-bg-color, 30) !important;
			border-color: darken($btn-disabled-bg-color, 15) !important;
		}

	}
}
