//@VAR icon
$icon-class              : '.#{$default-prefix}icon' !default;
$icon-default-bd-color   : $default-bd-color !default;
$icon-inline-margin         : 5px !default;                             // inline边距
$icon-inline-selector       : span !default;                            // inline兄弟选择器
//!VAR icon

// 一些特殊的ICON

@mixin make-icon-caret($color) { // 下三角
    border: .45em solid transparent;
    border-top-color: $color;
    position: absolute;
    top: 45%;
    content: '';
    transition: all .3s;
}

@mixin make-icon-right($color) { // 对号
    border: 2px solid transparent;
    border-left-color: $color;
    border-bottom-color: $color;
    position: absolute;
    width: 1em;
    height: .55em;
    top: .15em;
    min-height: 8px;
    content: '';
    transform: rotate(-55deg);
    box-sizing: border-box;
}

@mixin make-icon-arrow($color) { // 下箭头
    border: 2px solid transparent;
    border-right-color: $color;
    border-bottom-color: $color;
    position: absolute;
    width: .70em;
    height: .75em;
    content: '';
    border-radius: 2px;
    transform: rotate(43deg);
    transition: all 0.3s;
}

@mixin make-icon-wrap() { // 特殊ICON容器
    text-align: left;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
}

@mixin make-base-icon() {

    // inline图标样式,
    #{$icon-class}-inline { // 按钮内嵌inline风格的IOCN
        display: inline-block;
        position: relative;
        text-align: center;
        height: 1em;
        width: 1.15em; // 近正方形, 会造成 after内元素的 宽度比高度大
    }
    
    // inline 间距
    #{$icon-inline-selector} + #{$icon-class}-inline,
    #{$icon-class}-inline + #{$icon-inline-selector} {
        margin-left: $icon-inline-margin;
    }

    // 特殊icon 容器
    #{$icon-class}-wrap,
    #{$icon-class}-caret,
    #{$icon-class}-right,
    #{$icon-class}-arrow, {
        @include make-icon-wrap;
    }
    
    // 垂直三角
    #{$icon-class}-caret {
        &:after { 
            @include make-icon-caret($icon-default-bd-color);
        }
    }
    // 对号
    #{$icon-class}-right {
        &:after {
            @include make-icon-right($icon-default-bd-color);
        }
    }
    // 下箭头
    #{$icon-class}-arrow {
        &:after {
            @include make-icon-arrow($icon-default-bd-color);
        }
    }
    // 三角箭头翻转
    .icon-open,
    #{$icon-class}-hover:hover {
        #{$icon-class}-caret:after { transform: rotate(180deg) translateY(50%); }
        #{$icon-class}-arrow:after { transform: rotate(-133deg) translateX(-40%) translateY(-29%); }
    }
}
