//@VAR btn-group
$btn-group-class				: '.#{$default-prefix}btn-group' !default;
//!VAR btn-group

@mixin make-btn-group() {
	#{$btn-group-class}-row {
		display: inline-block; 
		@include clearfix;
		> #{$btn-class} {
			float: left;
			@include make-group-item-zindex(false);
		}
	}
	#{$btn-group-class}-col {
		display: inline-block; 
		> #{$btn-class} {
			display: block;
			width: 100%;
			@include make-group-item-zindex(true);
		}
	}
}

@mixin make-group-item-zindex($vertical) { // 需要使用z-index的自行调用
	@if $vertical {
		margin-top: -1px ;
		&.disabled {
			margin-top: 0;
			border-top-width: 0;
			z-index: 0;
		};
	} @else {
		margin-left: -1px ;
		&.disabled {
			margin-left: 0;
			border-left-width: 0;
		};
	}
	&:active {
		z-index: 4;
	}
	&.selected {
		z-index: 6;
	}
}