
@mixin make-drop-group () {
	.drop-group,
	.btn-drop {
		position: relative;
		display: inline-block;
		> .group-col {
			display: none;
			position: absolute;
			z-index: 1000;
			top: 100%;
			min-width: 100%;
			margin-top: -1px;
			box-sizing: border-box;
			text-align: left;
			visibility: hidden;
			opacity: 0;
		}
		&.open {
			> .group-col {
				display: inline-block;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.btn-drop {
		> .group-col {
			left: -1px;
			margin-top: 0;
			box-sizing: content-box;
		}
	}
}
