@import "mixins/size-control";
@import "mixins/clearfix";


@mixin make-group-default() {
	// reset ul style & margin & padding
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block; 
}

@mixin make-group-radius($radius, $vertical) {
	@if $vertical {
		:first-child {
			border-top-left-radius: $radius;
			border-top-right-radius: $radius;
		}
		:last-child {
			border-bottom-left-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}
	@else {	
		:first-child {
			border-top-left-radius: $radius;
			border-bottom-left-radius: $radius;
		}
		:last-child {
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;
		}
	}
}

@mixin make-group-item-zindex($vertical) { // 需要使用z-index的自行调用
	@if $vertical {
		margin-top: -1px ;
		&.disabled,
		&:disabled, {
			margin-top: 0;
			border-top-width: 0;
			z-index: 0;
		};
	} @else {
		margin-left: -1px ;
		&.disabled,
		&:disabled, {
			margin-left: 0;
			border-left-width: 0;
		};
	}
	&:active {
		z-index: 4;
	}
	&.selected {
		z-index: 6;
	}
}

@mixin make-group() {
	//@VAR group
	$group-divider-bg-color				: #DDD !default;
	$group-title-color					: #666 !default;

	$group-item-active-bg-color			: $default-active-bg-color !default;
	$group-item-hover-bg-color			: $default-hover-bg-color !default;
	$group-item-disabled-bg-color		: $default-disabled-bg-color !default;

	//!VAR group
	
	// 基础部分
	.group-col,
	.group-row {
		@include make-group-default;
		> .group-item {
			@include make-size-default;
			cursor: pointer;
			&:focus,
			&:hover {
				background-color: $group-item-hover-bg-color;
			}
			&.active {
				background-color: $group-item-active-bg-color;
			}
			&.disabled,
			&:disabled {
				color: darken($group-item-disabled-bg-color, 30);
				background-color: transparent;
			}
		}
	}

	.group-col { // 列分组
		> .group-item {
			display: block;
		}
	}

	.group-row { // 行分组
		@include clearfix;
		> .group-item {
			float: left;
		}
	}

	// 扩展部分
	.group-col { // 列模式增加 标题 和 分割线
		> .group-title { // 标题
			@include make-size-default;
			display: block;
			cursor: default;
			color: $group-title-color;
		}
		> .group-divider { // 分割线
			background-color: $group-divider-bg-color;
			height: 1px;
			margin: 0.5em 0;
			display: block;
		}
	}
	.group-row {
		> {
			.group-title,
			.group-divider { // 行模式 不支持这些
				display: none;
			}
		}
	}
}
