@import "mixins/size-control";

@mixin make-input-variant($color) {
	box-shadow: 0 0 0 1px $color;
	border-color: $color;
	&:hover,
	&:focus {
		box-shadow: none;
	}
}

@mixin make-input() {
	//@VAR input
	$input-prefix				: $default-prefix !default;
	$input-class				: '.#{$input-prefix}input' !default;
	$input-bd-radius			: $default-bd-radius !default;
	$input-bd-color			    : $default-bd-color !default;
	$input-disabled-bg-color	: $default-disabled-bg-color !default;

	//!VAR input
	
	#{$input-class} {
		@include make-size-default;
		border: 1px solid $input-bd-color;
		border-radius: $input-bd-radius;
		outline: none;
		
		// 先写默认样式
		&:hover,
		&:focus {
			background-color: lighten($input-bd-color, 20);
			border-color: darken($input-bd-color, 30);
		}

		// 主题颜色 放到前面
		@each $theme-type, $theme-color in $default-theme-color {
			&.#{$theme-type} {
				@include make-input-variant($theme-color);
			}
		}
		
		// 再覆盖一次
		// &:focus {
		// 	border-color: darken($input-bd-color, 30);
		// }

		&:disabled {
			background-color: $input-disabled-bg-color;
			color: darken($input-disabled-bg-color, 30);
			border-color: darken($input-disabled-bg-color, 15);
			box-shadow: none;
		}
	}
}
