@import "mixins/size-control";

@mixin make-input-variant($color) {
	box-shadow: 0 0 0 1px $color;
	border-color: $color;
	&:hover,
	&:focus {
		box-shadow: none;
	}
}

@mixin make-input() {
	//@VAR input
	$input-prefix				: $default-prefix !default;
	$input-class				: '.#{$input-prefix}input' !default;
	$input-bd-radius			: $default-bd-radius !default;
	$input-bd-color			    : $default-bd-color !default;
	$input-disabled-bg-color		: $default-disabled-bg-color !default;

	$input-primary-color		: $default-primary-color !default;				// 主样式
	$input-access-color			: $default-access-color !default;				// 可访问
	$input-required-color		: $default-required-color !default;				// 必须
	$input-success-color		: $default-success-color !default;				// 成功
	$input-error-color			: $default-error-color !default;				// 失败

	//!VAR input
	
	#{$input-class} {
		@include make-size-default;
		border: 1px solid $input-bd-color;
		border-radius: $input-bd-radius;
		outline: none;
		
		// 先写默认样式
		&:hover,
		&:focus {
			background-color: lighten($input-bd-color, 20);
			border-color: darken($input-bd-color, 30);
		}

		// 这些放到前面
		&.primary { @include make-input-variant($input-primary-color); } 
		&.access { @include make-input-variant($input-access-color); }
		&.required { @include make-input-variant($input-required-color); }
		&.success { @include make-input-variant($input-success-color); }
		&.error { @include make-input-variant($input-error-color); }
		
		// 再覆盖一次
		&:focus {
			border-color: darken($input-bd-color, 30);
		}

		&:disabled {
			background-color: $input-disabled-bg-color;
			color: darken($input-disabled-bg-color, 30);
			border-color: darken($input-disabled-bg-color, 15);
			box-shadow: none;
		}


	}
}
