
@mixin make-menu-group() {
	//@VAR menu-group
	$menu-group-prefix				: $default-prefix !default;
	$menu-group-class				: '.#{$menu-group-prefix}menu-group' !default;

	$menu-group-bd-radius			: $default-bd-radius !default;
	$menu-group-bd-color			: $default-bd-color !default;
	$menu-group-bg-color			: $default-bg-color !default;

	$menu-group-padding				: 5px !default;
	$menu-group-item-padding		: 1.5em !default;
	//!VAR menu-group
	
	#{$menu-group-class} {
		// 容器
		background-color: $menu-group-bg-color;
		border-radius : $menu-group-bd-radius;
		border: 1px solid $menu-group-bd-color;
		// 阴影
		box-shadow: 0 6px 12px rgba(0,0,0,.175);

		> .group-item {
			position: relative;
			background-color: $menu-group-bg-color;
		}

		&.group-col {
			padding: $menu-group-padding 0 ;
			> .group-item {
				padding-left: $menu-group-item-padding;
				padding-right: $menu-group-item-padding;
			}
		}

		&.group-row {
			padding: 0 $menu-group-padding ;
			> .group-item {
				padding: $menu-group-item-padding /2 $menu-group-item-padding;
			}
		}
	}

}
