@import "group";
@import "mixins/size-control";

/*

.menu
	.menu-item

 */

@mixin make-menu() {
	//@VAR menu
	$menu-prefix				: $default-prefix !default;
	$menu-class					: '.#{$menu-prefix}menu' !default;
	$menu-item-class			: '#{$menu-class}-item' !default;

	$menu-default-bd-color		: $default-bd-color !default;
	$menu-default-bg-color		: $default-bg-color !default;
	$menu-bd-radius				: $default-bd-radius !default;
	$menu-disabled-bg-color		: $default-disabled-bg-color !default;

	$menu-light-color			: $default-light-color !default;				// 亮色调

	//!VAR menu
	
	#{$menu-class} {

		#{$menu-item-class} {
			@include make-size-default;
		}

	}

}
