
@mixin make-meta-btn() {
	#{$btn-class} {
		&.meta-tick { // 按下移动效果
			&:not(:disabled):not(.disabled) {
				top: 0;
				&:active {
					top: 1px;
					left: 1px;
				}
			}
		} // .meta-tick
		
	}
}
