@import "mixins/size-control";

@mixin make-select-variant($color) {
	box-shadow: 0 0 0 1px $color;
	border-color: $color;
	&:hover,
	&:focus {
		box-shadow: none;
	}
}

@mixin make-select() {
	//@VAR select
	$select-prefix				: $default-prefix !default;
	$select-class				: '.#{$select-prefix}select' !default;
	$select-bd-radius			: $default-bd-radius !default;
	$select-bd-color			    : $default-bd-color !default;
	$select-disabled-bg-color		: $default-disabled-bg-color !default;

	//!VAR select
	
	select#{$select-class} {
		@include make-size-default;
		border: 1px solid $select-bd-color;
		border-radius: $select-bd-radius;
		outline: none;

		// 先写默认样式
		&:hover,
		&:focus {
			background-color: lighten($select-bd-color, 20);
			border-color: darken($select-bd-color, 30);
		}

		// 主题颜色 放到前面
		@each $theme-type, $theme-color in $default-theme-color {
			&.#{$theme-type} {
				@include make-select-variant($theme-color);
			}
		}

		&:disabled {
			background-color: $select-disabled-bg-color;
			color: darken($select-disabled-bg-color, 30);
			border-color: darken($select-disabled-bg-color, 15);
			box-shadow: none;
		}
	}
}
