
@mixin make-select-group() {
	//@VAR select-group
	$select-group-prefix			: $default-prefix !default;
	$select-group-class				: '.#{$select-group-prefix}select-group' !default;

	$select-group-bd-radius			: $default-bd-radius !default;
	$select-group-bd-color			: $default-bd-color !default;
	$select-group-bg-color			: $default-bg-color !default;

	$select-group-item-padding		: 1.5em !default;
	//!VAR select-group
	
	#{$select-group-class} {
		// 容器
		background-color: $select-group-bg-color;
		border-radius : $select-group-bd-radius;
		border: 1px solid $select-group-bd-color;
		// 阴影
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		> .group-item {
			position: relative;
			background-color: $select-group-bg-color;
			padding-left: $select-group-item-padding;
			padding-right: $select-group-item-padding;

			&.checked {
				&::before {
					@include make-icon-right($select-group-bd-color);
					width: 1em;
					height: .55em;
					top: 25%;
					right: .5em;
				}
				@each $theme-type, $theme-color in $default-theme-color {
				    &.#{$theme-type} {
				        border-left-color: $theme-color; 
				        border-bottom-color: $theme-color; 
				    }
				}
			}
		}
	}

}
