@import "mixins/size-control";

@mixin make-table-reset {
    // reset
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    cursor: default;

    th, td {
        border: none;
    }

    th {
        text-align: left;
        font-weight: normal;
    }
}

@mixin make-table() {
    //@VAR table
    $table-prefix               : $default-prefix !default;
    $table-class                : '.#{$table-prefix}table' !default;
    $table-bd-radius            : $default-bd-radius !default;
    $table-bd-color             : $default-bd-color !default;
    $table-bg-color             : $default-bg-color !default;                   // 容器背景颜色
    $table-odd-bg-color         : darken($table-bg-color, 6) !default;
    $table-hover-bg-color       : darken($table-bg-color, 8) !default;
    $table-selected-bg-color    : darken($table-bg-color, 12) !default;
    //!VAR table
    

    // 边框风格表格
    #{$table-class} {
        @include make-table-reset;
        border: 1px solid $table-bd-color;
        border-radius: $table-bd-radius;
        background-color: $table-bg-color;
        > thead {
            border-bottom: 1px solid $table-bd-color;
            tr {
                border-bottom: 1px solid $table-bd-color;
            }
        }
        > tbody {
            tr {
                border-bottom: 1px solid $table-bd-color;
                &:nth-child(odd) {
                    background-color: $table-odd-bg-color;
                }
                &:hover {
                    background-color: $table-hover-bg-color;
                }
                &.selected {
                    background-color: $table-selected-bg-color;
                }
            }
        }
        th, td {
            @include make-size-default;
        }
    }
}