// 窗口化布局方式

@mixin make-layout-window-flex() { // html高度填充
	height: 100%;
	body {
		height: 100%;
		margin: 0;
	}
}

@mixin make-window-flex() { // flex 高度自动填充
    box-sizing: border-box; // 盒模型
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
}

@mixin make-window-absolute() { // 使用绝对定位
    box-sizing: border-box; // 盒模型
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // display: flex;
    // flex-direction: column;
}

@mixin make-window-content() { // 父容器需要flex支持, 内容区使用 flex填充
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
}
