/* button */

$btn-disabled-bg-color : #DDD !default;
$btn-disabled-color : #808080 !default;

.ck-btn {
	@include make-button-default;
	@include make-element-size-default;

	&[disabled],
	&[disabled]:hover {
		cursor: default;
		color: $btn-disabled-color ;
		background-color: $btn-disabled-bg-color ;
		border-color: transparent;
	}
}

.btn-meta-tick {
    @include make-button-tick;
}

.btn-meta-scale {
    @include make-button-scale;
}

.btn-meta-shadow {
	@include make-button-inner-shadow;
}