/* icon-photon字体 */

$icon-font-photon-class:    'pt';
$icon-font-photon-family:   'photon-entypo';
$icon-font-photon-path: 	'../fonts';
$icon-font-photon-file:     'photon-entypo';
$icon-font-photon-version:  '0.1.2';

// 添加字体
@include make-icon-font-face($icon-font-photon-family, $icon-font-photon-path, $icon-font-photon-file, $icon-font-photon-version);	

// 添加类前缀, 关联字体
@include make-icon-class-prefix($icon-font-photon-class, $icon-font-photon-family);

// 导出字体文件
@import "icons-photon";